:root {
  --Purple-Color: #9747ff;
  --Linear-Purple-Color: linear-gradient(180deg, #aa47ff 0%, #0f3b70 100%);
  --Base-Blue-Color: #0f3b70;
  --White-Text-Color: #ffffff;
  --Primary-Font: "Amaranth", "open sans";
  --Secondary-Font: "Open Sans", "sans-serif";
}

.Checkout-page {
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 1100px;
  width: 100vw;
}

.film-cart {
  grid-area: Gap2;
}

.film-poster-box,
.film-content {
  width: 100px;
}

.Checkout-wrapper-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr 1fr 3fr 3fr 2fr;
  grid-template-areas:
    "H1 Gap1"
    "H2 H3"
    "Gap2 DForm"
    "Gap3 H4"
    "Btn P-Form";
  justify-content: center;
  min-width: 700px;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  grid-column-gap: 20rem;
}

.h1-checkout {
  grid-area: H1;
  justify-content: start;
  font-size: 2rem;
}

.h2-checkout {
  grid-area: H2;
  font-size: 1.5rem;
}

.h3-checkout {
  grid-area: H3;
  font-size: 1.2rem;
}

.h3-checkout-box {
  grid-area: H3;
  display: flex;
  flex-direction: row;
  justify-self: start;
  text-wrap: nowrap;
  margin-left: -1rem;
  left: 0;
  right: 0;
}

.h4-checkout {
  grid-area: H4;
  font-size: 1.2rem;
}

.delivery-form-wrapper {
  grid-area: DForm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 300px;
  height: 60vh;
  padding: 2rem 1rem 2rem 1rem;
}

.delivery-form {
  grid-area: DForm;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  max-width: 40vw;
}

.Checkout-Label-del,
.Checkout-Label {
  color: white;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  display: flex;
}

.Checkout-Label-del {
  text-wrap: nowrap;
  align-self: start;
}

.Checkout-Input {
  background-color: #706f6f5c;
  color: white;
  border-radius: 3px;
  min-width: 300px;
  height: 3.5vh;
}

.Card-details-form-wrapper {
  grid-area: P-Form;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 10vw;
  max-width: 50vw;
  height: 50vh;
  padding: 2rem 1rem 2rem 1rem;
}

.Card-details-form {
  grid-area: P-Form;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 60vh;
  max-width: 20vw;
  min-width: 20vw;
}

.Checkout-Input-PForm {
  background-color: #706f6f5c;
  color: white;
  border-radius: 3px;
}

.Expiry-CVV-row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  min-width: 25vw;
}

.Expiry-column,
.CVV-column,
.card-num-column {
  display: flex;
  flex-direction: column;
}

#Expiry,
#CVV {
  width: 4.5vw;
}

#Card-num,
#Cardholder-name {
  width: 20vw;
}

.pay-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pay-btn {
  background-color: var(--Purple-Color);
  color: var(--White-Text-Color);
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
}

.Return-to-cart-btn-wrapper {
  grid-area: Gap2;
  display: flex;
  flex-direction: column;
  height: 10rem;
  max-width: 100vw;
  position: relative;
  justify-content: end;
  margin: 0 auto;
  top: 0;
  bottom: 0;
}

.Return-to-cart-btn {
  grid-area: Gap2;
  color: var(--White-Text-Color);
  border-color: var(--Purple-Color);
  font-weight: bold;
  font-size: 1rem;
  width: 14rem;
  height: 4rem;
  border-radius: 9px;
  padding: 1rem 3rem 1rem 3rem;
  text-wrap: nowrap;
  position: static;
}
